<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie Reviews</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />

    <!-- Required to display Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    @* It's not necessary to load bootstrap CSS because Bootswatch replaces it. *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" /> *@

    @* This Bootswatch theme must be loaded after the bootstrap CSS file to supersede it.
    Or just omit the bootstrap CSS file. *@
    <link rel="stylesheet" href="~/lib/bootswatch/quartz/bootstrap.min.css" />
    @* This is another good theme for this app. *@
    @* <link rel="stylesheet" href="~/lib/bootswatch/vapor/bootstrap.min.css" /> *@

    <!-- toastr minified CDN from https://codeseven.github.io/toastr/ -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!-- Datatables release 2.0.7 as described at https://datatables.net/ -->
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
    <!-- Datatables Bootstrap 5 integration as specified at https://datatables.net/examples/styling/bootstrap5.html -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TravisMovieRatings.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Movies/confirmDeleteMovie.css" asp-append-version="true" />

    @RenderSection("head", false)   <!-- Allows views to import CSS files  -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-2">
            <div class="container">
                <a id="brand-all" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span id="ten-brand">10</span>
                    <!-- This SVG is a star symbol. Got it from https://icons.getbootstrap.com/icons/star-fill/ -->
                    <svg id="brand-star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Movies" asp-action="Gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-1" asp-area="" asp-controller="Movies" asp-action="Index">Manage Movies</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Travis Dutchover | Connect with me on <a href="https://www.linkedin.com/in/travis-dutchover">LinkedIn</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @* Required by SweetAlert2 popup boxes, documented at https://sweetalert2.github.io/ *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @* toastr minified CDN is from https://codeseven.github.io/toastr/
    jQuery is required for toastr. But the toastr instructions don't explain how to add it.
    But jQuery is already added above. So no need to add it again. *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Datatables release 2.0.7. Requires JQuery. -->
    <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <!-- Datatables Bootstrap 5 integration as specified at https://datatables.net/examples/styling/bootstrap5.html -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>

    @*
    The notification messaging code is located after both the required
    JQuery and  toastr JavaScript libraries are loaded.
    toastr allows control of the position of the messages. So it's not
    necessary to put this partial view above the @RenderBody in the 'main' section.'
    *@
    <partial name="_Notification" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
