@{
    ViewData["Title"] = "Splash Screen";
}

<h1 class="welcome-text">Welcome to Movie Reviews</h1>

<div class="splash-screen">
    <img src="~/images/splash-screen.webp" alt="Splash Screen Image">
</div>

<link rel="stylesheet" href="~/css/Home/Index.css" />