/*
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: bisque
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

projects {
    font-size: 2rem;
}

#signature-name {
    text-align: center;
    font-family: 'Freestyle Script';
    font-size: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* Need to reduce vertical distance above the signature */
    margin-top: 0px;
}

p {
    max-width: 70%
}

.column {
    float: left;
    width: 10%;
    padding: 5px;
}

.videoColumn {
    float: left;
    width: 10%;
    padding: 5px;
    margin-right: 300px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*
.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60
}

.w3-opacity-off, .w3-hover-opacity-off:hover {
    opacity: 1
}
*/

/* Doesn't work: Want a small background image to repeat on the entire screen and 0.15 opacity.
body {
    border: 2px solid black;
    padding: 25px;
    background: url("../graphics/20180626_192244.jpg");
    background-size: 25px;
    opacity: 1;
    background-repeat: space;
    margin: 10px 10px 10px 10px;
}
*/

body {
    /*padding: 25px;*/
}

hr {
    border: none;
    border-bottom: solid 2px gainsboro;
    width: 96%;
    color: #FFFF00;
    height: 0px;
}

#GeoLocationDisplay {
    /* Make sure the height space is reversed before the Geo location is displayed.*/
    height: 1rem;
}

/*.certification-badge {
    margin-right: 300px;
}*/

footer {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    height: 80px;
    background-color: black;
    color: white;
}