.left-label {
    float: left;
    text-align: left;
    width: 6rem;
    margin-right: 15px; /* Give distance to the matching value */
}

.right-value {
    /*float: left;*/
    text-align: left;
}


