html {
  font-size: 14px;
}

#brand-all {
    color: crimson;
}

#ten-brand {
    margin-right: -3px;
    padding-right: -3px;
}

#brand-star {
    /* Move up to center on the 10 */
    padding-left: -3px;
    margin-left: -3px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.card {
    border: hidden;
}

.review-card-image {
    border:1px solid red;
}

.growth-container {
    overflow: hidden;
}

.grow {
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.movie-rating::after {
    color: red;
    content: "\2605"
    /*content: " *";*/
}

.hide-content {
    display: none;
}

.plot {
    font-weight: bold;
}

footer {
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 10px;
    height: 80px;
    background-color: black;
    color: white;
}